<header><a href="/db">DB</a></header>

{{#with model}}
<div id="title-container">
    <h1>
        {{title}}
    </h1>
</div>
<hr />
<main>
    <form id="note-input" method="post">
        <input type="text" name="note" placeholder="Add new note!" />
        <button type="submit">Add</button>
    </form>
    <section>
        {{#each notes}}
        <div class="note">
            <span class="note-text">{{this.note}}</span>
            <div class="buttons">
                <button onclick="editNote({{this.note_id}}, this)" class="btn"><i
                        class="fa-solid fa-pen-to-square"></i></button>
                <button onclick="deleteNote({{this.note_id}})" class="btn"><i
                        class="fa-solid fa-delete-left"></i></button>
                <button onclick="saveEdit({{this.note_id}}, this)" class="btn-edit hidden"><i
                        class="fa-solid fa-floppy-disk"></i></button>
                <button onclick="undoEdit({{this.note_id}}, this)" class="btn-edit hidden"><i
                        class="fa-solid fa-rotate-left"></i></button>
            </div>
        </div>
        {{/each}}
    </section>
</main>
{{/with}}